body{background-color: white;
background-image:url("https://i.etsystatic.com/27826327/r/il/527f47/4624302919/il_1000x1000.4624302919_i3um.jpg");}
h1{text-decoration: underline;
text-align: center;
color: red;}
p{color: red;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}