div {
   
}

html {
    background-color: rgba(98, 0, 255, 0.913);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    background-color: darkorchid;
    box-shadow:  0 0 12px -2px black;
    height: 200vh;
    padding: 0;
    max-width:  1000px;
    margin: 0 auto;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: x-large;
    margin: 0 5px;
}

nav {
    box-shadow: 0 0 12px -2px black;
    position: fixed;
    left: 0;
    right: 0;
    align-items: center;
    background-color: black;
    color: aliceblue;
    display: flex;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

main {
    min-height: 70vh;
    padding: 85px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: aliceblue;
    height: 1px;
    padding: px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 12px -2px black;
}

